/*
    Corbin Robinson
    10/13/2021
*/

* {
    margin: 0;
    box-sizing: border-box;
    background-color: #23272A;
}

li, a, button{
    font-family: "Roboto", sans-serif;
    color: rgb(240, 240, 240);
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    background: #23272A;
    color: rgb(240, 240, 240);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

#nav__links{
    list-style: none;
}

#nav__links ul{
    display: inline-block;
    padding: 0px 20px;
}

#nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

#nav__links li a{
    transition: all 0.3 ease 0s;
}

#nav__links li a:hover{
    color: darkcyan;
}

#logo{
    cursor: pointer;
}